.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

local.properties
local.properties.*

*.iml
.idea/
.idea/**
*.iws
*.ipr
out/

.classpath
.project
.settings/
bin/

.vscode/

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

*.dex

*.class

*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/

*.log

.navigation/

captures/

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/jarRepositories.xml
.idea/caches
.idea/modules.xml
.idea/.name
.idea/compiler.xml
.idea/misc.xml
.idea/vcs.xml
.idea/codeStyles.xml
.idea/encodings.xml

*.jks
*.keystore

proguard/
proguard-rules.txt

.cxx/
cmake-build-*/

signing.properties

google-services.json

build/intermediates/
build/generated/
build/outputs/

apkSize/

*.hprof

*.swp
*~
*.tmp
*.bak
*.backup

obj/
.externalNativeBuild/

*.ap_gen

junit.xml
test-results/
test/
.coverage
coverage/

*.orig

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

ksp/

hilt_*_Generated.java

*-database/

*.kt.bak

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
.DocumentRevisions-V100
.fseventsd
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Node modules (if using any JS tooling)
node_modules/
